{
    "env": {
        "browser": true,
        "node": true
    },
    "extends": "airbnb-base",
    "root": true,
    "rules": {
        "no-console": "off",
        "radix": ["error", "as-needed"]
    },
    "settings": {
        "import/core-modules": [ "node_helper" ]
    }
}
